body {
    background-color:#343434;
    color: #9c9c9c;
    font-family: sans-serif;
    user-select: none; /* To prevent highlighting text while shuffling */
    overscroll-behavior: none; /* So shuffling won't cause a pulldown reload operation on mobile */
}

h1 {
    margin-left: 5px;
}

#pulled {
    min-height: 165px;
}

#shuffled {
    width: calc(100% - 85px); /* To compensate for negative margin */
    display: none;
}

.card {
    cursor: pointer;
    background-size: contain;
    background-color:firebrick;
    vertical-align: text-top;
    display: inline-block;
    height: 145px;
    width: 85px;
    border: 3px solid black;
    margin: 5px -80px 5px 5px; /* negative margin to stack the cards */
    font-size: 12px;
}

#picked {
    /* display: none; */
    width: 350px;
    height: 600px;
    border: 1px solid black;
    background-color:#9c9c9c;
    position: absolute;
    top: 25px;
    left: calc(50% - 175px);
    display: none;
    z-index: 1;
}
