.container {
    height: 100%;
    width: 100%;
}

.card {
    vertical-align: text-top;
    display: inline-block;
    height: 100px;
    width: 50px;
    border: 3px solid black;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
}