body {
    background-color:#343434;
    color: #9c9c9c;
    font-family: sans-serif;
    user-select: none;
    overscroll-behavior: none;
}

h1 {
    margin-left: 5px;
}

#pulled {
    min-height: 165px;
}

#container {
    width: calc(100% - 85px);
    display: none;
}

.card {
    cursor: pointer;
    background-size: contain;
    background-color:firebrick;
    vertical-align: text-top;
    display: inline-block;
    height: 145px;
    width: 85px;
    border: 3px solid black;
    margin: 5px -80px 5px 5px;
    font-size: 12px;
}
